@font-face {
  font-family: longShot-font;
  src: url("files/Long_Shot.ttf");
}
@font-face {
  font-family: varsityTeam-font;
  src: url("files/VarsityTeam-Bold.otf");
}
@font-face {
  font-family: bigSpace-font;
  src: url("files/BigSpace.ttf");
}
@font-face {
  font-family: tricube-font;
  src: url("files/Tricube.ttf");
}


.Longshot {
  font-family: longShot-font;
}
.VarsityTeam {
  font-family: varsityTeam-font;
}
.BigSpace {
  font-family: bigSpace-font;
}
.Tricube {
  font-family: tricube-font;
}